@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root {

    --color-light-50: #f8fafc;
    --color-light-100:  #bdbdbd;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--color-light-100);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duck_image {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    margin-top: 5px;
}

.duck_image img {
    width: 40px;
}

#duck_image img:hover {
    transform: scale(1.2);
}

#mode_icon {
    cursor: pointer;
    font-size: 30px;
}

#duck_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#duck_header h1 {
    font-size: 35px;
    position: relative;
}

.dark#container {
    color: var(--color-light-50);
    background-color: var(--color-dark-900);
    animation: light-to-dark-background 0.3s ease-in-out;
}


.dark#duck_header h1 {
    color: var(--color-light-50);
    animation: dark-to-light-background 0.3s ease-in-out;
}

.dark#container .input-field input,
.dark#container .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light-background {
    0% {
        background-color:var(--color-dark-900);
    }
    100.0% {
        background-color:var(--color-light-50);
    }
}

@keyframes light-to-dark-background {
    0% {
        background-color:var(--color-light-50);
    }
    100.0% {
        background-color:var(--color-dark-900); 
    }
}